{"name":"MathGym","slug":"MathGym","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/splash-icon.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true},"android":{"package":"com.yourcompany.mathgym","versionCode":1},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"23a8c9bc-da38-4883-bbf7-f46170cc5053"}},"sdkVersion":"52.0.0","platforms":["ios","android"]}